@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: #ffffff;
  cursor: none;
  /* Ocultamos cursor nativo para usar el custom */
}

/* Lenis Scroll Smooth */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* Utilidades de Texto */
.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}

/* Ocultar Scrollbar pero mantener funcionalidad */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@layer utilities {
  .glitch-text {
    position: relative;
  }

  .glitch-text::before,
  .glitch-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #050505;
    /* Mismo color fondo */
  }

  .glitch-text::before {
    left: 2px;
    text-shadow: -1px 0 red;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-1 2.5s infinite linear alternate-reverse;
  }

  .glitch-text::after {
    left: -2px;
    text-shadow: -1px 0 blue;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
  }
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(20px, 9999px, 80px, 0);
  }

  20% {
    clip: rect(60px, 9999px, 10px, 0);
  }

  100% {
    clip: rect(10px, 9999px, 90px, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(90px, 9999px, 10px, 0);
  }

  20% {
    clip: rect(10px, 9999px, 50px, 0);
  }

  100% {
    clip: rect(50px, 9999px, 20px, 0);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  100% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both infinite;
}

/* Mesh Gradient Animations */
@keyframes mesh-rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes mesh-rotate-reverse {
  0% {
    transform: rotate(360deg) scale(1.05);
  }

  50% {
    transform: rotate(180deg) scale(0.95);
  }

  100% {
    transform: rotate(0deg) scale(1.05);
  }
}

.animate-mesh-rotate {
  animation: mesh-rotate 60s linear infinite;
}

.animate-mesh-rotate-reverse {
  animation: mesh-rotate-reverse 80s linear infinite;
}